body {
    background-color: rgb(165, 95, 231);
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    color: white;
    text-align: center;
    margin: 25px;
}

section {
    background-color: rgb(212, 212, 212);
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.178);
    
}

#div_two, #div_one {
    text-align: center;
    margin: 12px;
}

footer {
    text-align: center;
}

#tagName_a {
    text-decoration: none;
    color: black;
}

#tagName_a:hover {
    text-decoration: underline;
    
}

p#pergunta{
    padding: 0px;
    margin: 0px;
}

#tab{
    margin: auto;
    width: 125px;
    height: 176px;
}